.main {
    display: flex;
    position: relative;
    min-height: 60vh;
    &__label{
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 5%;
    }
    &__img {
        width: 250px;
        position: absolute;
        top: 5%;
        left: 20%;
    }
    &__first {
        font-size: 40px;
        font-weight: 700;
        color: white;
        text-transform: uppercase;
        // font-family: 'Righteous', cursive;
    }
    &__second {
        // color: #f58a8a;
        color: black;
        font-weight: 700;
        text-transform: uppercase;
    }

}

@media(min-width: 200px){
    .main{
      min-height: 80vh; 
      &__img {
          width: 200px;
      }
    }
    
}
@media(min-width: 300px){
    .main{
      min-height: 65vh; 
    }
}
@media(min-width: 320px){
    .main{
        min-height: 74vh;
      &__img{
          width: 200px;
      } 
    }
}
@media(min-width: 360px){
    .main{
      min-height: 65vh; 
    }
}
@media(min-width: 375px){
    .main{
      min-height: 60vh; 
    }
}
@media(min-width: 390px){
    .main{
      min-height: 50vh; 
    }
}


@media(min-width: 400px){
    .main{
      min-height: 60vh; 
      &__img{
          width: 250px;
      }
    }
}
@media(min-width: 500px){
    .main{
      min-height: 70vh; 
    }
}

@media  (min-width: 600px){
    .main{
        min-height: 80vh;
        // margin-bottom: 150px;
        &__first{
            font-size: 55px;
        }
        &__img {
            width: 350px;
            left: 30%
        }
    }

}

@media (min-width: 1250px){
    .main{
        &__img{
            left: 50%;
        }
        &__label{
            top:50%;
            left: 34%;
        }
        &__first {
            font-size: 80px;
        }
        &__second{
            font-size: 30px;
        }
    }
}